body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.header-img {
  background: linear-gradient( rgba(2, 119, 189,0.98), rgba(2, 119, 189,0.88) );
}
footer.page-footer {
  margin-top: 0px;
  padding: 0px;
}
.chip {
  margin: 5px;
}
#about .section {
  padding-bottom: 0px!important;
}
.wave {
  margin: 0 auto;
	width: 250px;
	height: 185px;
	background-image: url(../img/armwaving.png);
  background-position: 0px;
}
.pen {
  margin: 20px auto;
	width: 325px;
	height: 74px;
	background-image: url(../img/penopens.png);
  background-position: 325px;
}

.browser {
  border: 1px solid #b0bec5;
  border-radius: 5px;
  max-height: 480px;
  overflow: hidden;
}
.browser img {
  margin-bottom: -7px;
}
.browser-top {
  height: 40px;
  border-bottom: 1px solid #b0bec5;
  padding: 5px;
}
.browser-circle {
  border: 1px solid #90a4ae;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-top: 7px;
  margin-right: 2px;
  float: left;
}
.browser-address {
  border: 1px solid #b0bec5;
  color: #90a4ae;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  width: 80%;
  float: right;
  overflow: hidden;
}
.project-row {
  padding-bottom: 50px;
}
#btn-sidemenu {
  position: fixed;
  border-radius: 0px;
  height: 50px;
  width: 100px;
}